* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Apple SD Gothic Neo", Roboto, "Noto Sans KR", NanumGothic,
    "Malgun Gothic", sans-serif;
}

.modal_wrapper_Nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: 2rem auto;
  transition: all 1.3s ease;
  z-index: 9999;
  border-radius: 10px;
}
.modal_content {
  display: block;
  width: 80%;
  z-index: 9999;
}
.modal_header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal_body {
  margin-bottom: 0.4rem;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  background-color: orange;
  cursor: pointer;
  border-radius: 10px;
}

.modal_header .menu_title {
  margin: auto;
  font-weight: bold;
}

.modal_body .menu_name {
  margin: auto;
  font-weight: bold;
}

.modal_body button {
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.back_drop {
  background: black;
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}
