@charset 'utf-8';

p {
  /* 행간 */
  line-height: 1.6;
}

.local_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #dddddd;
  padding: 0 1rem;
}

.local_nav_links {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  /* 자기 부모만큼 늘려야 한다. 44px 또는 100% */
  height: 100%;
  align-items: center;
}

.local_nav_links .logo_name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.local_nav_links a {
  font-size: 0.8em;
}

.local_nav_links a:not(.logo_name) {
  margin-left: 2em;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}
.logo {
  height: 40rem;
  margin: 0 auto;
  display: block;
}

.scroll_section {
  border: 1px solid red;
  padding-top: 10vh;
}

.main_message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  font-size: 2.5rem;
}

.main_message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background-color: orange;
}
/* 요소 고정! */
.sticky_elem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#show_scene_0 #scroll_section_0 .sticky_elem,
#show_scene_1 #scroll_section_1 .sticky_elem,
#show_scene_2 #scroll_section_2 .sticky_elem,
#show_scene_3 #scroll_section_3 .sticky_elem {
  display: block;
}
