.signin_page {
  display: flex;
  justify-content: center;
}

.signin_frame {
  margin: 50px 0;
  border: 2px solid #937666;
  box-sizing: border-box;
  box-shadow: 5px 5px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #fff;
  padding: 25px;
}

.login_logo {
  text-align: left;
  margin-bottom: 10px;
}
.logo-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.signin_page_logo {
  vertical-align: top;
  width: auto;
  height: auto;
  max-width: 50px;
  max-height: 50px;
}
.signin_form {
  box-sizing: border-box;
  max-width: 400px;
  font-size: 13px;
  color: #000;
  margin: auto;
  width: 400px;
}
.signin_h1 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  margin: 0 0 1.25em;
  padding: 0;
}

.google_signin_btn {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 13px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.google_signin_btn:visited {
  text-decoration: none !important;
  background: #fff;
}
#google_signin {
  font-weight: bold;
  font-size: 13px !important;
  line-height: 17px;
  text-decoration: none;
  padding: 6px 12px 7px 12px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  background: #f3f3f3;
  white-space: nowrap;
  border: solid 1px #937666;
  background: linear-gradient(linear, 0 40%, 0 70%, from(#f3f3f3), to(#f1f1f1));
  border-radius: 3px !important;
  color: #202020 !important;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
  text-align: center;
  display: block;
  height: auto;
  width: 100%;
  font-size: 13px !important;
  font-weight: 700;
  padding: 9px 12px;
  box-sizing: border-box;
  border-radius: 5px;
}

.social_btn {
  cursor: pointer;
  text-align: center;
  display: block;
  height: auto;
  width: 100%;
  font-size: 13px !important;
  font-weight: 700;
  padding: 9px 12px;
  box-sizing: border-box;
  border-radius: 5px;
}
.social_btn,
.social_btn:visited {
  font-weight: bold;
  font-size: 13px !important;
  line-height: 17px;
  text-decoration: none;
  padding: 6px 12px 7px 12px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  background: #f3f3f3;
  white-space: nowrap;
  border: solid 1px #937666;
  background: linear-gradient(linear, 0 40%, 0 70%, from(#f3f3f3), to(#f1f1f1));
  border-radius: 3px !important;
  color: #202020 !important;
  text-decoration: none !important;
  text-align: center;
}

.separator {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border-top: 1px solid #937666;
  border-bottom: 1px solid #fff;
  position: relative;
}
.middle_separator {
  position: absolute;
  padding: 0 16px;
  color: #937666;
  background: #fff;
  font-size: 11px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  top: -7px;
  left: 45%;
}
.general_login_form {
  margin-top: 30px;
}

.field {
  margin-bottom: 20px;
}
.label {
  display: block;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
}

.input_email {
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  padding: 0.75em 1em;
  border: 1px solid #937666;
  border-radius: 5px;
}
.input_password {
  box-sizing: border-box;
  padding-right: 40px;
  width: 100%;
  padding: 0.75em 1em;
  border: 1px solid #937666;
  border-radius: 5px;
}

.submit_btn {
  background: 0;
  background-color: #e9ad17;
  color: #fff !important;
  text-shadow: none;
  border: 1px solid transparent;
}

.stay_login {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #937666;
  line-height: 1em;
}

.forgot_password {
  color: #937666;
}
.signup_block {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
}

hr {
  margin: 1em 0;
  padding: 0;
  border: 0;
  color: #937666;
  background-color: #937666;
  height: 1px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.signup_link {
  color: #937666;
  text-decoration: none;
}

.signin_error_msg {
  color: red;
  text-align: center;
}

.incorrent_msg {
  margin-left: 4px;
}
